.wrapper{
    display: flex;
    height: 100vh;
}
.wrapper-left{
    height: 100%;
    width: auto;
}
.main-sidebar{
    height: 100%;
    border-radius: 6px;
    
}
.sidebar-logo{
    height: 10%;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    border-bottom: 2px solid #c8c8c8;
}
.icon-logo{
    margin-right: 5px;
    cursor: pointer;
}
.logo{
    width: 200px;
    cursor: pointer;
    padding: 5px;
}
.sidebar-menu{
    height: 90%;
    text-align: left;
    background-color: white;
    color: #000;
}
.wrapper-right{
    height: 100%;
    flex: 80%;
}
.main-header{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 2px solid #c8c8c8;
}
.header-account{
    display: flex;
    align-items: center; 
}
.user-name{
    margin: 10px 10px
}

.main-content{
    height: 85%;
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 20px;
}
.main-footer{
    height: 5%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}